    <! -- Top Navigation -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <!-- Toggle icon for mobile view -->
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg" href="javascript:void(0)" data-
           toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></a>
        <!-- Logo -->
        <div class="top-left-part">
            <a class="logo" href="#">
                <!-- Logo icon image, you can use font-icon also -->
                <b>
                    <img src="~/images/happy.jpg" width="50" height="50" alt="home">
                </b>
                <!-- Logo text image you can use text also -->
                <span class="hidden-xs">
                    <img src="~/images/happy_code_logo.png" alt="home" class="light-logo"> 
                </span>
            </a>
        </div>
        <!-- Logo -->

        <div class="m-l-10" style="width: 220px;float: left;
    background: #4F5477;"><a class="logo" href="/"><b><img src="/images/happy.jpg" class="img-circle" alt="home" width="60"></b><span style="color:white"><strong>Happy</strong> Code</span></a></div>
    <ul class="nav navbar-top-links navbar-left hidden-xs"></ul>


    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Account/Register">Register</a></li>
        <li><a href="/Account/Login">Log in</a></li>
    </ul>


</div>